/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Lexend" sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.main_section {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  gap: 120px;
}
.section {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-image: url("images/color_blur_header.png");
  background-repeat: no-repeat;
}
body {
  margin: 0px;
  font-family: "Lexend", sans-serif;
}
.header_main {
  box-sizing: border-box;
  width: 34%;
  padding-top: 50px;

  /* margin-top: 40px; */
}
.header_aside {
  box-sizing: border-box;
  width: 70%;
}
.spacer {
  width: 8%;
  flex-grow: 3;
}
.spacer1 {
  width: 8%;
  flex-grow: 2;
}
.image_header_aside {
  position: relative;
  width: 50%;
  height: auto;
}
.img_aside_header {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: -1;
}

.navbar_header {
  /* padding: 0px 10%; */

  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  /* gap: 24px; */
}
.spacer_nav {
  width: 24px;
  flex-grow: 4;
}
.button_sign_up {
  white-space: nowrap;
  height: 22px;
  color: var(--Green-700, #047857);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-left: 15px;
  border-radius: 20px;
  text-decoration: none;
  border-radius: 32px;
  background: var(--Green-100, #d1fae5);
  border: 1px solid #fff;
  padding: 12px 24px;
  cursor: pointer;
  text-decoration: none;
}

.partners_spacer {
  width: 3%;
  flex-grow: 3;
}
.custom-button {
  white-space: nowrap;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 8px 16px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #fff;
  color: #000;
}

.header_info {
  box-sizing: border-box;
  margin-top: 70px;
  width: auto;
  margin-bottom: 70px;
}

.header_heading {
  color: var(--MRT-App-Headline, #1b1c57);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: var(--MRT-App-Headline, #1b1c57);
  font-family: "Lexend" sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.header_heading span {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.heading_paragraph {
  color: var(--MRT-App-Neutral-01, #626687);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 24px;
}

.search-container {
  height: 48px;
  padding: 3px 3px;
  background: #fff;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 32px;
  border: 1px solid var(--Neutral-300, #e0e3eb);
  background: #fff;
}

.search-container input[type="text"] {
  width: 80%;
  margin-left: 16px;
  /* padding: 10px; */
  font-size: 16px;
  border: none;
  outline: none;
}

.search-container button {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 109px;
  border-radius: 32px;
  background: var(--Green-500, #10b981);
  /* padding: 10px; */
  font-size: 16px;

  color: white;
  border: none;
  outline: none;
  cursor: pointer;

  color: #fff;

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  height: auto;
}

.search-container button:hover {
  background-color: #0ecc8d;
}

.location_icon_header {
  margin-left: 20px;
}

.partners_label {
  color: var(--Neutral-500, #888b97);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-top: 32px;
}
.partners_block {
  display: flex;
  flex-direction: row;
  /* gap: 32px; */
  justify-content: space-between;
}

.people_boxes_aside {
  position: absolute;
  bottom: 48px;
  left: 48px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.people_boxes_aside article {
  padding: 24px 24px;
  align-items: center;
  display: flex;
  flex-direction: row;
  border-radius: 32px;
  background: #fff;

  box-shadow: 0px 11px 48px 0px rgba(51, 51, 51, 0.06);
}

.logo_block_single {
  width: 55px;
  height: 55px;
}
.logo_block_multiple {
  width: 120px;
  height: 55px;
}

.logo_block_single_s {
  width: 50px;
  height: 50px;
}
.people_boxes_aside article div h4 {
  margin-left: 16px;
  white-space: nowrap;
  color: var(--MRT-App-Headline, #1b1c57);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.people_boxes_aside article div p {
  margin-left: 16px;

  white-space: nowrap;
  color: var(--MRT-App-Subheadline, #68799f);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.logo_center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo_center span {
  margin-left: 12px;
}

.page_separator_block {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.page_separator_txt {
  color: var(--Yellow-500, #f59e0b);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin-left: 8px;
}

.one_section {
  /* position: relative; */
  display: flex;
  flex-direction: row;
}
.content_section {
  width: 92%;
}

.navbar_house_feature {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar_feature {
  gap: 32px;
  display: flex;
  flex-direction: row;
}
.navbar_feature li a {
  border-radius: 32px;
  border: 1px solid var(--Neutral-300, #e0e3eb);
  display: flex;
  padding: 12px 24px;
  align-items: center;
  gap: 8px;
}
.feature_button {
  color: var(--Neutral-500, #888b97);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  text-decoration: none;
}
.heading_section {
  margin-top: 10px;
  color: var(--MRT-App-Headline, #1b1c57);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.switch_button_grey {
  cursor: pointer;

  border: none;
  display: inline-flex;
  padding: 12px 16px;
  align-items: center;

  gap: 4px;
  border-radius: 32px;
  background: var(--Neutral-300, #e0e3eb);
}
.switch_button_green {
  cursor: pointer;
  margin-right: 10%;
  border: none;
  display: inline-flex;
  padding: 12px 16px;
  align-items: center;
  gap: 4px;
  border-radius: 32px;
  background: var(--Green-500, #10b981);
}
.buttons_align_switch {
  /* margin-right: 50px; */
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.data_cards_houses {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.main_body_section {
  margin-left: 3%;
}
.card_house {
  width: 30%;
}
.card_house_small {
  width: 10%;
}
.card_house h3 {
  margin-top: 24px;
  color: var(--Neutral-900, #0e1735);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.card_house p {
  color: var(--Neutral-700, #3c4563);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.image_block {
  position: relative;
}
.image_block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.house_lable {
  position: absolute;
  bottom: 16px;
  left: 16px;
}
.house_card_user {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.house_card_user div {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}
.house_card_user div h4 {
  color: var(--Neutral-900, #0e1735);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.house_card_user div p {
  color: var(--Neutral-500, #888b97);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.blur_video_1 {
  position: absolute;
  z-index: -1;
  right: 0px;
  bottom: 100px;
  top: 1300px;
}

.blur_video_2 {
  position: absolute;
  z-index: -1;
  right: 0px;
  top: 1300px;
  bottom: 100px;
}

.center_section_separator {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sell_section_main_info {
  margin-left: 3%;
  display: flex;
  flex-direction: column;
}

.content_section_sell {
  width: 92%;
  display: flex;
  flex-direction: row;
}

.details_heading {
  color: var(--MRT-App-Headline, #1b1c57);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 10px;
  margin-top: 16px;
}
.details_block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.feature_block {
  margin-bottom: 10px;
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  color: var(--Neutral-700, #3c4563);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.horizontal_split_line {
  margin-top: 27px;
  margin-right: auto;
  background: var(--Neutral-100, #f0f3fd);
  width: 90%;
  left: 0px;
  height: 2px;
  flex-shrink: 0;
}
.align_contacts_video {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.align_contacts_video h4 {
  white-space: nowrap;
  color: var(--Neutral-900, #0e1735);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.align_contacts_video p {
  white-space: nowrap;
  color: var(--Neutral-500, #888b97);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.align_contacts_video button {
  margin-left: auto;
  margin-right: 15px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  border-radius: 32px;
  background: var(--Green-500, #10b981);
  display: inline-flex;
  padding: 12px 16px;
  align-items: center;
  gap: 16px;
}
.logo_video {
  width: 56px;
  height: 56px;
}
.video_box {
  margin-top: 0px;
  margin-bottom: auto;
  width: 100%;
  /* height: auto; */
}
.aside_video {
  width: 45%;
  position: relative;
}
.images_video_overlap {
  white-space: nowrap;
  position: absolute;
  bottom: -39px;
  left: -39px;
}

.main_aticle {
  width: 50%;
}
.heading_images_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.images_blocks_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.spacer_image_block {
  width: 5%;
  flex-grow: 3;
}

.image_block_section_main {
  position: relative;
  margin-top: 40px;
  width: 50%;
  object-fit: cover;
  flex-grow: 1;
  /* height: 400px; */
  /* z-index: -1; */
}

.image_block_section_side {
  position: relative;
  margin-top: 40px;
  width: 20%;
  object-fit: cover;
  flex-grow: 1;
  z-index: -1;
}
.image_section_fit {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.image_block_description_center {
  position: relative;
  display: flex;
  width: auto;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.05);
  margin-top: -100px;
  margin-left: 45px;
  margin-right: 45px;
  z-index: 1;
}

.image_block_description_right {
  position: relative;
  display: flex;
  width: auto;
  min-width: 300px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.05);
  margin-top: -100px;
  margin-left: 45px;
  margin-right: 45px;
  z-index: 1;
}

.image_block_description_left {
  height: 256px;
  white-space: nowrap;
  position: relative;
  display: flex;
  width: auto;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.05);
  margin-top: -100px;
  margin-left: -300px;
  margin-right: 45px;

  justify-content: space-between;
}
.image_block_description_left p {
  /* margin-left: -900px; */
  white-space: wrap;
  margin-right: 50px;
}

.images_blocks_wrapper section div h3 {
  color: var(--MRT-App-Headline, #1b1c57);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.images_blocks_wrapper section div p {
  color: var(--MRT-App-Neutral-01, #626687);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.image_block_user_info_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.position_name_wrapper {
  /* width: 90%; */
  flex-grow: 1;
  box-sizing: border-box;
}
.stars_image_block {
  /* width: 17%; */
  display: flex;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
}
.stars_image_block h4 {
  margin-left: 16px;
  box-sizing: border-box;
}
.logo_user_card {
  width: 40px;
  height: 40px;
}
.stars_image_block_left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* display: flex; */
  justify-content: center;

  box-sizing: border-box;
}

.section_absolute {
  position: relative;
  width: 100%;
  height: 100%;
}
.block_button_switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 32px;
  gap: 15px;
}
.block_button_switch img{
  cursor: pointer;
}
.section_main {
  position: relative;
}
.background_blur_posts_1 {
  margin-top: -250px;
  position: absolute;
  z-index: -1;
}

.background_blur_posts_2 {
  margin-top: 50px;
  position: absolute;
  z-index: -1;
}

.heading_images_wrapper_c {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.button_post_header {
  cursor: pointer;
  margin: auto;
  margin-top: 20px;
  white-space: nowrap;
  border: none;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  display: inline-flex;
  padding: 12px 16px;
  align-items: center;
  gap: 16px;
  border-radius: 32px;
  background: var(--Green-500, #10b981);
}
.post_overall_aside {
  margin-top: 45px;
  display: flex;
  flex-direction: row;
}
.section_main_aside {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 16px;
}
.section_aside_info h3 {
  margin-top: 12px;
  color: var(--MRT-App-Headline, #1B1C57);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  text-transform: capitalize;
}

.section_aside_info p{
  color: var(--MRT-App-Neutral-01, #626687);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.post_wrapper {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.post_info_wrapper {
  display: flex;
  flex-direction: column;
}
.post_info_wrapper h3 {
  margin-top: 12px;
  color: var(--MRT-App-Headline, #1b1c57);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  text-transform: capitalize;
}
.post_image {
  width: 200px;
  height: 144px;
}
.row_wrapper {
  gap: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row_wrapper img {
  width: 32px;
  height: 32px;
}
.row_wrapper h5 {
  color: var(--Neutral-700, #3c4563);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.time_block{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
  gap: 12px;
}
.time_block time{
  color: var(--Neutral-500, #888b97);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.section_main_aside_image{
  width: 100%;
}

.section_search_footer{
  display: flex;
  flex-direction: row;
}
.image_search_main{
  width: 86%;
  position: relative;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.background_footer{
  width: 100%;
  object-fit: contain;
}
.main_background{
  width: 100%;
  position: absolute;
  padding: 30px 0px;
  left: 0;
  top: 0;
  z-index: -1;
}
.row_wrapper_heading{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.row_wrapper_heading h2{
  color: var(--MRT-App-Headline, #1B1C57);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
  
}
.row_wrapper_heading input{
  border: none;
  width: auto;
  height: auto;
}

.input_footer_wrapper{
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  gap:16px;
  display: flex;
  width: 496px;
  padding: 4px 4px 4px 24px;
  align-items: center;
  gap: 16px;
  border-radius: 32px;
  background: #FFF;
  box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.05);
  border: none;
  height: 46px;
  justify-content: space-between;
  align-items: center;
}
.input_footer_wrapper div{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.input_footer_wrapper div input{
  margin-left: 16px;
}
.input_footer_wrapper button{
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 4px;
  border-radius: 32px;
  background: var(--Green-500, #10B981);
  border: none;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  cursor: pointer;

}

.image_composition_footer{
  min-width: none;
  min-width: 189px;
  flex-grow: 0.5;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 54px;
}

.image_composition_footer img{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.image_composition_footer{
  width: 20%;
}

.footer_main{
  position: relative;
  /* padding-top: 120px; */
  padding-bottom: 120px;
}
.blur_footer_1{
  position: absolute;
  bottom: 0px;
  right: 0px; 
  z-index: -2;

}
.footer_info{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.blur_footer_2{
  position: absolute;
  bottom: 0px;
  right: 0px; 
  z-index: -2;
}


.company_footer_info{
  display: flex;
  flex-direction: column;
  width: 37%;
}
.company_footer_info img{
  width: 36px;
  height: 36px;
}
.company_footer_info p{
  margin-top: 22px;
  color: var(--MRT-App-Neutral-01, #626687);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.footer_links_main{
  width: 51%;
  display: flex;
  flex-direction: row;
  gap: 88px;
}
.footer_links_main div{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer_links_main div h3{
  color: var(--Neutral-900, #0E1735);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.footer_links_main div span{
  color: var(--Neutral-500, #888B97);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  white-space: nowrap;
}
.company_name{
  color: var(--MRT-App-Headline, #1B1C57);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.social_networks_links{
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 24px;
}
.social_networks_links img{
  width: 32px;
  height: 32px;
}